.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mobile/1x/hero_sm.jpg);

  @include mq(retina) {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile/hero@2x_sm.jpg);
  }

  background-color: var(--tertiary-background-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;

  @media screen and (min-width: 768px) {
    // animation: bg-move 20s ease-in infinite both;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/1x/hero_md.jpg);
    @include mq(retina) {
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/tablet/hero@2x_md.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/desktop/1x/hero_lg.jpg);
    @include mq(retina) {
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/desktop/hero@2x_lg.jpg);
    }
  }
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  font-weight: 900;

  text-align: center;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  animation: text-shadow-drop-center 0.4s both;
  @media screen and(min-width: 480px) {
    width: 361px;
  }

  @media screen and(min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@keyframes bg-move {
  0% {
    background-size: 110%;
  }

  100% {
    /* background-position: top left; */
    background-size: 150%;
  }
}

@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

/* Button */

.hero__button {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;

  border: none;
  cursor: pointer;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  transition-property: color, background-color, box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transform: scale(1.1) translateY(-2px);
  }
}
