.social-medias {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.social-medias__item:not(:last-child) {
  margin-right: 10px;
}

.social-medias__links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color, background-color, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-color);
    border-radius: 50%;
  }
}

.social-medias__icons {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

// add clases for footer socials link

.social-medias__links--transparent {
  background: rgba(255, 255, 255, 0.1);
}

.footer__icons {
  display: block;
  width: 20px;
  height: 20px;
  fill: var(--primary-background-color);
}
