:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --tertiary-background-color: #2f303a;
  --secondary-logo-color: #000000;

  --main-font-family: Roboto;
  --additional-font-family: Raleway;

  --item: 1;
  --indent: 30px;
}
